GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# DagsHub Configuration
DAGSHUB_USERNAME=
DAGSHUB_TOKEN=

# MLflow Configuration
MLFLOW_TRACKING_URI=

# App Configuration
APP_PORT=8000
API_URL=http://your-ipserver:8001